:host {
    flex: 0 0 25rem;
}

.card {
    direction: ltr;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    block-size: 100%;

    font-family: Brutal, sans-serif;
    scroll-snap-align: center;

    .card-img {
        position: relative;

        aspect-ratio: 3/4;

        &::before {
            content: "";

            background-color: var(--surface2-dark);
            opacity: 0;

            position: absolute;
            inset: 0;

            block-size: 100%;
            inline-size: 100%;

            transition: opacity 300ms ease;
        }

        img {
            border-radius: 0.3rem;
        }
    }

    &:hover {
        .card-img {
            &::before {
                opacity: 0.3;
            }
        }

        .favorite-btn {
            opacity: 1;
        }
    }

    .card-title {
        font-size: 1.8rem;
        font-weight: 400;

        word-wrap: break-word;
    }

    .card-rating {
        background-color: var(--surface3-dark);
        color: var(--text2-dark);

        display: inline-block;

        inline-size: min-content;

        padding: 0.5rem 1rem;

        border-radius: 0.3rem;
    }

    .favorite-btn {
        background-color: transparent;
        opacity: 0;

        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;

        padding: 0.5rem;

        border: none;
        border-radius: 0.3rem;

        font-size: 2rem;

        transition: opacity 300ms ease;

        cursor: pointer;
    }
}

@media (min-width: 30em) {
    .card {
        scroll-snap-align: start;
    }
}
