.footer {
    background-color: var(--surface2-dark);
    color: var(--text1-dark);

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 4rem;

    padding: 4rem max(calc((100% - 120rem) / 2), 2rem);

    font-size: 1.4rem;

    .footer-column {
        display: flex;

        .footer-logo {
            flex: 0 0 12rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .list-title {
                font-size: 1.6rem;
                font-weight: 700;
            }

            a {
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &:last-of-type {
            justify-content: flex-end;
        }

        .scroll-to-top {
            align-self: center;
            justify-self: center;

            background-color: var(--surface4-dark);
            color: var(--text1-dark);

            block-size: 4rem;
            inline-size: 4rem;

            border-radius: 0.3rem;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 1.2rem 100%, 0% calc(100% - 1.2rem));

            transition: transform 300ms ease;
        }

        .scroll-to-top:hover {
            transform: translateY(-0.5rem);
        }

        .scroll-to-top:active {
            transform: translateY(1rem);
        }
    }
}
@media (min-width: 30em) {
    .footer {
        grid-template-columns: repeat(2, 1fr);

        .footer-column {
            &:last-of-type {
                grid-column: 1/-1;
            }
        }
    }
}
@media (min-width: 64em) {
    .footer {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 0;

        .footer-column {
            &:nth-of-type(2) {
                justify-content: flex-end;
            }

            &:nth-of-type(3) {
                justify-content: center;
            }

            &:nth-of-type(4) {
                justify-content: flex-start;
            }

            .footer-logo {
                align-self: center;
            }

            &:last-of-type {
                grid-column: auto;
            }
        }
    }
}
