.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6rem;

    max-width: 100%;

    margin-bottom: 4rem;
    padding: 0 2rem;

    font-size: 1.6rem;

    li {
        margin-bottom: 1rem;
    }
}

.enamad {
    background-color: hsl(0deg 0% 100%);

    border-radius: 1.8rem;
}

.footer-note {
    margin-bottom: 2rem;

    font-size: 1.6rem;

    text-align: center;
}
