<footer class="footer">
    <div class="footer-links">
        <ul>
            <li><strong>اطلاعات فروشگاه</strong></li>
            <li><i class="fa-solid fa-location-dot"></i> <span>تهران</span></li>
            <li><i class="fa-solid fa-circle-phone"></i> <span>۰۲۱-۴۴۴۴-۴۴۴۴</span></li>
        </ul>
        <ul>
            <li><strong>راهنمای خرید</strong></li>
            <li><a href="#">نحوه ثبت سفارش</a></li>
            <li><a href="#">شیوه های پرداخت</a></li>
        </ul>
        <div class="enamad"><img src="assets/images/trustseal/enamad.png" alt="نماد اعتماد الکترونیکی" /></div>
    </div>
    <p class="footer-note">تمامی حقوق مادی و معنوی این سایت متعلق به NGStore می‌باشد.</p>
</footer>
