<footer class="footer">
    <div class="footer__links">
        <ul class="footer__links__column">
            <li><strong>اطلاعات فروشگاه</strong></li>
            <li><i class="fa-solid fa-location-dot"></i> <span> تهران</span></li>
            <li><i class="fa-solid fa-circle-phone"></i> <span> 021-4444-4444</span></li>
        </ul>
        <ul class="footer__links__column">
            <li><strong>راهنمای خرید</strong></li>
            <li><a routerLink="/">نحوه ثبت سفارش</a></li>
            <li><a routerLink="/">شیوه های پرداخت</a></li>
        </ul>
        <div class="enamad"><img src="assets/images/trustseal/enamad.png" alt="نماد اعتماد الکترونیکی" /></div>
    </div>
    <p class="footer__note">تمامی حقوق مادی و معنوی این سایت متعلق به NGStore می‌باشد.</p>
</footer>
