<footer class="footer">
    <div class="column-container">
        <div class="footer-logo">
            <img src="assets/logos/NG-Store-logo.svg" alt="NG Store Logo" />
        </div>
        <ul>
            <li><p class="list-title">تماس با ما</p></li>
            <li><a href="tel:021-4444-4444">021-4444-4444</a></li>
            <li><a href="mailto:ng.store@gmail.com">ng.store@gmail.com</a></li>
            <li>
                <a
                    href="https://www.google.com/maps/search/35.7306841609794,+51.43059251836481?sa=X&ved=2ahUKEwistuCzgrL5AhWHNcAKHaGdAJ4Q8gF6BAgCEAE"
                >
                    تهران خیابان بهشتی
                </a>
            </li>
        </ul>
        <ul>
            <li><p class="list-title">درباره ما</p></li>
            <li><a href="#">اخبار</a></li>
            <li><a href="#">بازی های رایگان</a></li>
            <li><a href="#">ارسال بازی جدید</a></li>
            <li><a href="#">قوانین و شرایط</a></li>
            <li><a href="#">سیاست های حریم خصوصی</a></li>
        </ul>
        <ul>
            <li><p class="list-title">راهنمایی و پشتیبانی</p></li>
            <li><a href="#">پرسش های متداول</a></li>
            <li><a href="#">راهنمای دانلود بازی</a></li>
            <li><a href="#">راهنمای فعال سازی بازی</a></li>
        </ul>
        <button class="scroll-to-top" title="رفتن به بالا">
            <i class="fa-solid fa-angle-up"></i>
        </button>
    </div>
</footer>
