.footer-links {
    padding: 0 2rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    gap: 6rem;

    li {
        margin-bottom: 1rem;
    }
}
.enamad {
    background-color: #fff;
    border-radius: 1.8rem;
}
.footer-note {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
