<header class="header">
    <div class="logo">
        <a routerLink="/"><img src="assets/logos/NG-Store-logo.svg" alt="NG Store logo" /></a>
    </div>

    <nav class="nav" [ngClass]="{open: isMobileNavOpen}">
        <div class="search">
            <input type="search" name="search" placeholder="جست و جو" /> <i class="fa-regular fa-magnifying-glass"></i>
        </div>
        <ul class="main-nav">
            <li class="current-page" (click)="homePageHandler()"><a routerLink="/">خانه</a></li>
            <li (click)="homePageHandler()"><a routerLink="/">دسته بندی ها</a></li>
            <li (click)="homePageHandler()"><a routerLink="/">پشتیبانی</a></li>
        </ul>
    </nav>

    <div class="header-end">
        <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
            <app-profile-btn></app-profile-btn>
        </ng-container>

        <ng-template #notLoggedInTemplate>
            <app-sign-in-up></app-sign-in-up>
        </ng-template>
        <button class="hamburger" (click)="navButtonHandler()"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>
