.nav-container {
    background-image: linear-gradient(45deg, rgba(24, 32, 79, 0.9) 0%, rgba(24, 32, 79, 0.85) 100%);

    height: 10rem;
    z-index: 1;

    &.fixed {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }
}

.nav {
    font-size: 1.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    height: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: space-around;

    li {
        a {
            color: #fff;
            border-radius: 14px;
            padding: 0.5rem 1.5rem;
            transition: all 0.3s ease;
            &:hover {
                background: rgba(206, 206, 206, 0.2);
                box-shadow: rgb(31 47 71 / 25%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 5px,
                    rgb(255 255 255 / 40%) 0px 0px 0px 0.5px inset;
            }
        }
    }
}

.nav-btn-container {
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.nav-btn {
    font-size: 2rem;

    border: none;
    color: #fff;
    background-color: transparent;
    border-radius: 14px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: rgb(31 47 71 / 25%) 0px 20px 40px, rgb(0 0 0 / 10%) 0px 1px 5px,
            rgb(255 255 255 / 40%) 0px 0px 0px 0.5px inset;
    }

    &:active {
        transform: translateY(5px);
    }
}
.hamburger {
    display: none;
}

@media (max-width: 1150px) {
    .open .main-nav {
        transform: translate(0);
    }
    .main-nav {
        z-index: 10;
        position: fixed;
        top: 10rem;
        right: 0;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 3rem;
        border-radius: 1rem;
        background-color: #030130;
        background-image: linear-gradient(45deg, rgb(3, 1, 50), rgb(0, 0, 0));
        transform: translateY(-101vh);
        transition: all 0.3s ease;
    }
    .hamburger {
        display: block;
    }
}
