.nav-container {
    background-image: linear-gradient(45deg, hsl(231deg 53% 20% / 90%) 0%, hsl(231deg 53% 20% / 85%) 100%);

    z-index: 1;

    height: 10rem;

    &.fixed {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 80vw;
    height: 100%;

    margin: 0 auto;

    font-size: 1.8rem;
}

.main-nav {
    display: flex;
    gap: 1rem;

    .current-page {
        background: hsl(0deg 0% 81% / 20%);
        box-shadow: hsl(216deg 39% 20% / 25%) 0 2rem 4rem, hsl(0deg 0% 0% / 10%) 0 0.1rem 0.5rem,
            hsl(0deg 0% 100% / 40%) 0 0 0 0.1rem inset;
    }

    li {
        a {
            color: hsl(0deg 0% 100%);

            padding: 0.5rem 1.5rem;

            border-radius: 1.4rem;

            transition: background-color 0.2s ease;

            &:hover {
                background-color: hsl(0deg 0% 81% / 20%);
                box-shadow: hsl(216deg 39% 20% / 25%) 0 2rem 4rem, hsl(0deg 0% 0% / 10%) 0 0.1rem 0.5rem,
                    hsl(0deg 0% 100% / 40%) 0 0 0 0.1rem inset;
            }
        }
    }
}

.nav-btn-container {
    position: relative;

    display: flex;
    gap: 0.5rem;
}

.nav-btn {
    background-color: transparent;

    color: hsl(0deg 0% 100%);

    padding: 0.75rem 1.5rem;

    border: none;
    border-radius: 1.4rem;

    font-size: 2rem;

    transition: transform 0.3s ease, background-color 0.2s ease;

    cursor: pointer;

    &:hover {
        background-color: hsl(0deg 0% 100% / 20%);
        box-shadow: hsl(216deg 39% 20% / 25%) 0 2rem 4rem, hsl(0deg 0% 0% / 10%) 0 0.1rem 0.5rem,
            hsl(0deg 0% 100% / 40%) 0 0 0 0.1rem inset;
    }

    &:active {
        transform: translateY(0.5rem);
    }
}

.hamburger {
    display: none;
}

@media (max-width: 73em) {
    .open .main-nav {
        transform: translate(0);
    }

    .main-nav {
        background-color: hsl(243deg 96% 10%);
        background-image: linear-gradient(45deg, hsl(242deg 98% 20%), hsl(0deg 0% 0%));

        position: fixed;
        inset-block-start: 10rem;
        inset-inline-start: 0;

        z-index: 10;

        flex-direction: column;

        gap: 2rem;

        width: 100%;

        padding: 2rem 3rem;

        border-radius: 1rem;

        transform: translateY(-101vh);

        transition: transform 0.3s ease;
    }

    .hamburger {
        display: block;
    }
}
