<header class="header">
    <div class="logo">
        <a routerLink="/"><img src="assets/logos/NG-Store-logo.svg" alt="NG Store logo" /></a>
    </div>

    <nav class="nav" [ngClass]="{open: isMobileNavOpen}">
        <form class="search" (submit)="handleSubmit()">
            <input type="search" name="search" placeholder="جست&zwnj;و&zwnj;جو" [(ngModel)]="searchText" />
            <i class="fa-regular fa-magnifying-glass" (click)="handleSubmit()"></i>
        </form>
        <ul class="main-nav">
            <li class="current-page"><a routerLink="/">خانه</a></li>
            <li><app-categories (newCloseMobileNavEventEmitter)="closeNav()"></app-categories></li>
        </ul>
    </nav>

    <div class="header-end">
        <ng-container *ngIf="authService.isUserLoggedIn; else notLoggedInTemplate">
            <a routerLink="/profile" class="nav-btn">
                <i class="fa-regular fa-user-large"></i>
            </a>
        </ng-container>

        <ng-template #notLoggedInTemplate>
            <a routerLink="/sign-in" class="sign-in-btn">ورود</a>
        </ng-template>
        <button class="hamburger" (click)="navButtonHandler()"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>
