.header {
    background-color: var(--surface1-dark);
    color: var(--text1-dark);
    padding-inline: var(--mobile-inline-padding);
    padding-block: var(--mobile-header-block-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    position: relative;
    gap: 2rem;

    .logo {
        flex: 12rem 0 0;
        z-index: 2;
    }

    .nav {
        position: absolute;

        padding-inline: var(--mobile-inline-padding);
        padding-block: var(--mobile-nav-block-padding);
        background-color: var(--surface1-dark);
        top: 100%;
        left: -100%;

        width: 100%;
        min-height: calc(100vh - 100%);

        z-index: 1;

        transition: transform 0.3s ease;

        display: flex;
        flex-direction: column;
        gap: var(--mobile-nav-block-padding);

        .search {
            position: relative;
            max-width: 60rem;

            i {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            input {
                width: 100%;
                padding: 1rem 4rem 1rem 2rem;
                outline: none;
                border: none;
                border-radius: 0.3rem;
                background-color: var(--surface4-dark);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 1.6rem 100%, 0% calc(100% - 1.6rem));
            }
        }

        &.open {
            transform: translateX(100%);
        }

        .main-nav {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            max-width: 60rem;

            li {
                a {
                    opacity: .8;

                    transition: opacity ease 300ms;

                    &:hover {
                        opacity: 1;
                    }
                }
                &.current-page {
                    a {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .header-end {
        display: flex;
        align-items: center;
        gap: 4rem;

        .account {
            padding: 0.5rem 2rem;
            border-radius: 0.5rem;
            border: 0.1rem solid var(--text1-dark);
            background-color: var(--surface2-dark);
            cursor: pointer;
        }

        .account:active {
            transform: translateY(2%);
        }

        .hamburger {
            display: grid;
            place-items: center;

            background-color: transparent;

            border: 0;

            cursor: pointer;

            z-index: 2;
        }
    }
}

@media (min-width: 60em) {
    .header {
        .nav {
            position: static;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row-reverse;
            padding: 0 4rem;
            gap: 4rem;

            .search {
                flex-grow: 1;
                max-width: 75rem;
            }
            .main-nav {
                flex-direction: row;
                gap: 2rem;
                align-items: center;
            }

            &.open {
                transform: translate(0);
            }
        }

        .header-end {
            .hamburger {
                display: none;
            }
        }
    }
}
