.profile-container {
    display: grid;
    gap: 2rem;
    padding: 4rem 2rem;
    color: var(--text1-dark);
}

.main-header {
    align-self: flex-start;
    border-inline-start: 0.3rem solid var(--brand-dark);
    padding: 0.6rem 1.2rem;
    font-size: 2.4rem;
}

.account {
    background-color: var(--surface2-dark);
    padding: 2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.data-title {
    font-size: 1.8rem;
}
.avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: grid;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 0.3rem var(--surface3-dark), 0 0 0 0.6rem var(--brand-dark);
}
.avatar img {
    width: 100%;
}

.accont-data {
    align-self: stretch;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    row-gap: 1.4rem;
    column-gap: 1rem;
    font-size: 1.4rem;
}
.accont-data p {
}
.accont-data span {
    font-weight: bold;
    color: var(--text2-dark);
}
.exit-account {
    background-color: transparent;
    color: var(--danger-dark);
    padding: 1rem;
    border: none;
    z-index: 1;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.1rem solid var(--danger-dark);
}
.exit-account:hover {
    background-color: var(--surface4-dark);
}
.exit-account:active {
    background-color: var(--surface3-dark);
}
.wishlist {
    background-color: var(--surface2-dark);
    padding: 2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.wishlist-title {
    font-size: 1.8rem;
    padding-block-end: 2rem;
}
.row-card {
    align-self: stretch;
    display: flex;
    flex-direction: column;

    gap: 2rem;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--surface3-dark);
    padding: 2rem;
    border-radius: 0.3rem;
    flex-direction: column;
}
.card-img {
    border-radius: 0.3rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 1.6rem 100%, 0% calc(100% - 1.6rem));

    width: 12rem;
    height: 12rem;
    display: grid;
    align-content: center;
    align-items: center;
}
.card-img img {
    width: 100%;
}
.card-data {
    display: grid;
    grid-template-columns: repeat(2, auto);

    row-gap: 0.8rem;
    column-gap: 2rem;
    font-size: 1.2rem;
}

.card-data p {
}
.card-data span {
    font-weight: bold;
    color: var(--text2-dark);
}
.card-title {
}
.init-price {
    text-decoration: line-through;
}
.card-sale {
}
.final-price {
}
.remove-game {
    background-color: transparent;
    color: var(--text1-dark);
    padding: 1rem;
    border: none;
    z-index: 1;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.1rem solid var(--text1-dark);
}

.remove-game:hover {
    background-color: var(--surface2-dark);
}
.remove-game:active {
    background-color: var(--surface4-dark);
}
@media (min-width: 35em) {
    .account {
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 4rem;
        column-gap: 4rem;
        align-items: center;
    }
    .exit-account {
        grid-column: 1/-1;
        justify-self: center;
    }
    .avatar {
        align-self: center;
        justify-self: end;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .data-title {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .card {
        flex-direction: row;
    }
    .card-data {
        column-gap: 4rem;
    }
}
@media (min-width: 50em) {
    .card-data {
        grid-template-columns: repeat(4, auto);
        column-gap: 2rem;
        row-gap: 2rem;
    }
    .card-data p {
        padding-inline-end: 4rem;
    }
}
@media (min-width: 60em) {
    .profile-container {
        padding-inline: max(calc((100% - 120rem) / 2), 2rem);
        grid-template-columns: minmax(28rem, 25%) 1fr;
    }
    .account {
        align-self: start;

        display: flex;
    }
    .main-header {
        grid-column: 1/-1;
    }
    .card-data {
        /* column-gap: 4rem; */
    }
    .card-data p {
        grid-row: 2/3;
        padding-inline-end: 0;
    }
    .wishlist-title {
        align-self: flex-start;
    }
}
