<div class="profile-container">
    <h1 class="main-header">حساب کاربری</h1>
    <section class="account">
        <h2 class="data-title">اطلاعات شما</h2>
        <div class="avatar">
            <img src="https://via.placeholder.com/200x500" alt="avatar" />
        </div>
        <div class="account-data">
            <span>نام و نام خانوادگی:</span>
            <p>{{ user?.firstName }} {{ user?.lastName }}</p>
            <span>شماره تماس:</span>
            <p>{{ user?.phone }}</p>
            <span>نام کاربری:</span>
            <p>{{ user?.username }}</p>
            <span>ایمیل:</span>
            <p>{{ user?.email }}</p>
        </div>
        <button class="exit-account" (click)="logout()">خروج از حساب کاربری</button>
    </section>
    <section class="wishlist">
        <h2 class="wishlist-title">سبد خرید</h2>
        <div class="row-card">
            <ng-container *ngFor="let cardGame of wishlist">
                <app-row-card [cardGame]="cardGame" (newRefreshWishlistEventEmitter)="refreshWishlist()"></app-row-card>
            </ng-container>
        </div>
    </section>
</div>
