.nav-btn {
    font-size: 2rem;

    border: none;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border-radius: 1.4rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: hsla(0, 0%, 100%, 0.2);
        box-shadow: hsla(216, 39%, 20%, 0.25) 0 2rem 4rem, hsla(0, 0%, 0%, 0.1) 0 0.1rem 0.5rem,
            hsla(0, 0%, 100%, 0.4) 0 0 0 0.1rem inset;
    }

    &:active {
        transform: translateY(0.5rem);
    }
}

.search-box {
    opacity: 0;
    visibility: hidden;
    border: 0.1rem solid hsl(0, 0%, 100%);
    position: absolute;
    border-radius: 2rem;
    padding: 2rem;
    bottom: -2rem;
    left: 0;
    transform: translate(0, 100%);
    transform-origin: center center;
    width: min(36rem, 80vw);
    min-height: 20rem;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(45deg, hsla(231, 53%, 20%, 0.9) 0%, hsla(231, 53%, 20%, 0.85) 100%);
    transition: opacity 0.3s ease;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.search-label {
    position: relative;

    .search-icon {
        position: absolute;
        right: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.search-input {
    font-family: inherit;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, hsla(232, 20%, 49%, 0.1) 0%, hsla(233, 28%, 78%, 0.15) 100%);
    border: none;
    outline: none;
    border-radius: 3rem;
    padding: 1rem 4.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 130%;
    color: hsla(0, 0%, 100%, 0.8);
    transition: all 0.1s ease-in-out;

    &:focus {
        padding-left: 4.2rem;
        box-shadow: hsla(200, 100%, 59%, 0.3) 0 0 1rem, hsl(200, 66%, 21%) 0 0 0 0.1rem inset;
        background: linear-gradient(45deg, hsla(231, 53%, 20%, 0.4) 0%, hsla(231, 53%, 20%, 0.25) 100%);
    }
    &::placeholder {
        font-family: "mikhak", sans-serif;
        color: hsla(0, 0%, 100%, 0.6);
    }
}

.divider {
    margin: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &::after {
        content: "";
        height: 0.1rem;
        flex-grow: 1;
        background-image: linear-gradient(to left, transparent, hsl(0, 0%, 100%));
    }
}
