.nav-btn {
    background-color: transparent;
    color: hsl(0deg 0% 100%);

    padding: 0.8rem 1.5rem;

    border: none;
    border-radius: 1.4rem;

    font-size: 2rem;

    transition: transform 0.3s ease, background-color 0.2s ease;

    cursor: pointer;

    i {
        font-weight: 400;
    }

    &:hover {
        background-color: hsl(0deg 0% 100% / 20%);
        box-shadow: hsl(216deg 39% 20% / 25%) 0 2rem 4rem, hsl(0deg 0% 0% / 10%) 0 0.1rem 0.5rem,
            hsl(0deg 0% 100% / 40%) 0 0 0 0.1rem inset;
    }

    &:active {
        transform: translateY(0.5rem);
    }
}

popper-content::ng-deep {
    .ngxp__arrow::before {
        display: none;
    }

    .ngxp__container {
        border: none;
    }
}

.search-box {
    background-image: linear-gradient(45deg, hsl(231deg 53% 20% / 90%) 0%, hsl(231deg 53% 20% / 85%) 100%);

    overflow-x: hidden;
    overflow-y: auto;

    width: min(36rem, 80vw);
    min-height: 20rem;
    max-height: 70vh;

    padding: 2rem;

    border: 0.1rem solid hsl(0deg 0% 100%);
    border-radius: 2rem;

    transition: opacity 0.3s ease;
}

.search-label {
    position: relative;

    i {
        font-weight: 400;
    }

    .search-icon {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 1.2rem;
        right: 1.2rem;

        transform: translateY(-50%);
    }
}

.search-input {
    background: linear-gradient(45deg, hsl(232deg 20% 49% / 10%) 0%, hsl(233deg 28% 78% / 15%) 100%);
    color: hsl(0deg 0% 100% / 80%);

    width: 100%;
    height: 100%;

    padding: 1rem 4.2rem;

    border: none;
    border-radius: 3rem;

    outline: none;

    font-family: inherit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: normal;

    line-height: 130%;

    transition: all 0.1s ease-in-out;

    &:focus {
        background: linear-gradient(45deg, hsl(231deg 53% 20% / 40%) 0%, hsl(231deg 53% 20% / 25%) 100%);
        box-shadow: hsl(200deg 100% 59% / 30%) 0 0 1rem, hsl(200deg 66% 21%) 0 0 0 0.1rem inset;

        padding-left: 4.2rem;
    }

    &::placeholder {
        color: hsl(0deg 0% 100% / 60%);

        font-family: mikhak, sans-serif;
    }
}

.divider {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin: 0.8rem;

    &::after {
        content: "";

        flex-grow: 1;

        background-image: linear-gradient(to left, transparent, hsl(0deg 0% 100%));

        height: 0.1rem;
    }
}
