<button class="nav-btn" [popper]="popperContent" [popperPlacement]="NgxPopperjsPlacements.BOTTOMSTART">
    <i class="fa-solid fa-magnifying-glass"></i>
</button>

<popper-content #popperContent style="border: none">
    <!-- We'll fix it -->
    <div class="search-box">
        <div class="search-label">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input
                type="search"
                name="search"
                id="search"
                class="search-input"
                placeholder="جست و جو"
                aria-label="جست و جو"
            />
        </div>
        <div class="divider">جست و جو های پر طرفدار</div>
        <!--        <a routerLink="/">1</a> We'll add it... -->
        <!--        <a routerLink="/">2</a>-->
        <!--        <a routerLink="/">3</a>-->
    </div>
</popper-content>
