<div class="game-page-container">
    <section class="summary">
        <div class="game-cover">
            <img src="hzaj3aqkbxmb6hd7k7lc.webp" alt="" />
        </div>
        <div class="game-summary">
            <h1 class="game-title">Red Dead Redemption 2</h1>
            <p class="summary-text">
                Red Dead Redemption 2 is the epic tale of outlaw Arthur Morgan and the infamous Van der Linde gang, on
                the run across America at the dawn of the modern age.
            </p>
            <p class="genres"><span>ژانر: </span>Shooter</p>
            <p class="release-date"><span>تاریخ انتشار: </span>10/26/2018</p>
            <!--  new Date(1540512000000).toLocaleDateString() -->
            <p class="platform"><span>پلتفرم: </span>PC,PS4,Xbox</p>
            <button class="add-to-wishlist">اضافه کردن به سبد خرید</button>
        </div>
    </section>
    <section class="screenshots">
        <h2 class="details-title">تصاویری از بازی</h2>
    </section>
    <section class="details">
        <h2 class="details-title">درباره بازی</h2>
        <p class="details-description">
            America, 1899. The end of the wild west era has begun as lawmen hunt down the last remaining outlaw gangs.
            Those who will not surrender or succumb are killed.\n\nAfter a robbery goes badly wrong in the western town
            of Blackwater, Arthur Morgan and the Van der Linde gang are forced to flee. With federal agents and the best
            bounty hunters in the nation massing on their heels, the gang must rob, steal and fight their way across the
            rugged heartland of America in order to survive. As deepening internal divisions threaten to tear the gang
            apart, Arthur must make a choice between his own ideals and loyalty to the gang who raised him.
        </p>
    </section>
    <section class="suggestions">
        <h2 class="details-title">پیشنهادات</h2>
    </section>
</div>
