.game-page-container {
    color: var(--text1-dark);

    display: grid;
    gap: 2rem;

    padding: 4rem max(calc((100% - 120rem) / 2), 2rem);

    .summary {
        background-color: var(--surface2-dark);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        padding: 2rem;

        border-radius: var(--default-border-radius);

        .game-cover {
            grid-column: 1/-2;
            img {
                inline-size: 100%;
                aspect-ratio: 16/9;
            }
        }

        .game-summary {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            padding: 4rem;

            border-radius: var(--default-border-radius);

            .game-title {
                align-self: flex-end;

                direction: ltr;

                padding-block-end: 4rem;
                padding: 0.6rem 1.2rem;

                border-inline-start: 0.3rem solid var(--brand-dark);

                font-family: Brutal, sans-serif;
                font-size: 3rem;
            }

            .summary-text {
                direction: ltr;

                display: block;

                padding-block-end: 4rem;

                font-family: Brutal, sans-serif;
                font-size: 1.4rem;

                text-overflow: ellipsis;
                word-wrap: break-word;
            }
        }

        .info {
            padding-inline-start: var(--md-padding);
            grid-column: 1/-2;

            .release-date {
            }

            .genre-title {
                font-size: 1.6rem;
                font-weight: 700;
            }

            .genre {
                font-size: 1.4rem;
                inline-size: 100%;

                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }

            .platform-title {
                font-size: 1.6rem;
                font-weight: 700;

                padding-block-start: var(--sm-padding);
            }

            .platform {
                inline-size: 100%;

                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                font-size: 1.4rem;
            }
        }

        .add-to-wishlist {
            grid-column: 3;
            place-self: center;

            background-color: transparent;
            color: var(--text1-dark);

            z-index: 1;

            padding: 1rem;

            border: 0.1rem solid var(--text1-dark);
            border-radius: var(--default-border-radius);

            font-size: 1.2rem;

            cursor: pointer;

            &:hover {
                background-color: var(--surface4-dark);
            }

            &:active {
                background-color: var(--surface3-dark);
            }
        }
    }

    .details {
        background-color: var(--surface2-dark);

        display: flex;
        flex-direction: column;
        gap: 4rem;

        padding: 2rem;

        border-radius: var(--default-border-radius);

        .details-title {
            align-self: flex-start;

            padding-block-end: 4rem;
            padding: 0.6rem 1.2rem;

            border-inline-start: 0.3rem solid var(--brand-dark);

            font-size: 3rem;
        }

        .details-description {
            align-self: end;

            direction: ltr;

            padding-block-end: 4rem;

            font-family: Brutal, sans-serif;
            font-size: 1.8rem;
        }
    }

    .screenshots,
    .suggestions {
        background-color: var(--surface2-dark);

        padding: 2rem;

        border-radius: var(--default-border-radius);
    }
}

@media (max-width: 59em) {
    .game-page-container {
        .summary {
            grid-template-columns: 1fr;

            .game-summary {
                padding-inline: 0;
            }
        }
    }
}
