<div class="game-page-container">
    <section class="summary">
        <div class="game-cover">
            <img
                src="https://images.igdb.com/igdb/image/upload/t_screenshot_med_2x/{{
                    currentGame?.screenshots[0]?.id ? currentGame?.screenshots[0].id : currentGame?.cover.id
                }}.webp"
                alt=""
            />
        </div>
        <div class="game-summary">
            <h1 class="game-title">{{ currentGame?.name }}</h1>
            <p class="summary-text">
                {{ currentGame?.summary }}
            </p>
            <p class="genres" *ngFor="let genre of currentGame?.genres"><span>ژانر: </span>{{ genre?.name }}</p>
            <p class="release-date"><span>تاریخ انتشار: </span>10/26/2018</p>
            <!--  new Date(1540512000000).toLocaleDateString() -->
            <p class="platform" *ngFor="let platform of currentGame?.platforms">
                <span>پلتفرم: </span>{{ platform?.name }}
            </p>
            <button class="add-to-wishlist" (click)="addToWishlist()">اضافه کردن به سبد خرید</button>
        </div>
    </section>
    <section class="screenshots">
        <h2 class="details-title">تصاویری از بازی</h2>
    </section>
    <section class="details">
        <h2 class="details-title">درباره بازی</h2>
        <p class="details-description">
            {{ currentGame?.description ? currentGame.description : currentGame?.summary }}
        </p>
    </section>
    <section class="suggestions">
        <h2 class="details-title">پیشنهادات</h2>
    </section>
</div>
