.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--lg-gap);

    min-block-size: 5rem;
    inline-size: 100%;

    padding-block-end: 10rem;

    button {
        background-color: var(--surface4-dark);
        color: var(--text1-dark);

        block-size: 5rem;

        inline-size: 5rem;

        border-radius: 50%;

        font-size: 2rem;

        &:hover {
            background-color: var(--surface3-dark);
        }
    }

    .page-number {
        font-size: 2rem;
    }
}
