<div class="sign-in-container">
    <form class="form" (submit)="handleSubmit()">
        <p class="form-login">برای دیدن حساب کاربری خود ابتدا وارد شوید</p>
        <label class="input-label">
            نام کاربری
            <input type="text" name="username" [(ngModel)]="user.username" />
        </label>
        <label class="input-label">
            رمز عبور
            <input type="password" name="password" [(ngModel)]="user.password" />
        </label>

        <ng-container *ngIf="isValidate(user)">
            <span class="validation-error">مقادیر معتبر وارد کنید</span>
        </ng-container>

        <button class="submit-btn" type="submit">ورود</button>

        <span class="sign-up-link">
            اکانت ندارید؟
            <a routerLink="/sign-up">اینجا بسازید!</a>
        </span>
    </form>
</div>
