<div class="desktop-categories-wrapper">
    <span
        class="bold"
        [popper]="popperContent"
        [popperPlacement]="NgxPopperjsPlacements.BOTTOMEND"
        [popperTrigger]="NgxPopperjsTriggers.hover"
        [popperModifiers]="popperModifiers"
    >
        دسته‌بندی&zwnj;ها
    </span>

    <popper-content #popperContent class="no-arrow">
        <div class="mega-nav">
            <ul class="categories">
                <li
                    *ngFor="let category of categories"
                    [class.active]="category === activeCategory"
                    (mouseenter)="activeCategory = category"
                >
                    <div>{{ category.title }}</div>
                </li>
            </ul>

            <div class="sub-categories">
                <ng-container *ngIf="activeCategory">
                    <ul>
                        <li *ngFor="let subCategory of activeCategory.subCategories">
                            <a
                                [routerLink]="['/search']"
                                [queryParams]="{category: activeCategory.searchName, subCategory: subCategory.id}"
                            >
                                {{ subCategory.name }}
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </popper-content>
</div>

<div class="mobile-categories-wrapper">
    <button class="drop-down-main-btn" [ngClass]="{open: categoryOpen}" (click)="categoryButtonHandler()">
        دسته&zwnj;بندی&zwnj;ها&#xa0;
        <i class="fa-regular fa-chevron-down"></i>
    </button>
    <div class="drop-down" (click)="subCategoryButtonHandler($event)">
        <button class="drop-down-sub-button">ژانر ها&#xa0;<i class="fa-regular fa-chevron-down"></i></button>
        <ul class="drop-down-content">
            <li *ngFor="let subCategory of categories[0].subCategories">
                <a
                    [routerLink]="['/search']"
                    [queryParams]="{category: activeCategory.searchName, subCategory: subCategory.id}"
                    class="drop-down-content-links"
                    >{{ subCategory.name }}</a
                >
            </li>
        </ul>
        <button class="drop-down-sub-button">تم ها&#xa0;<i class="fa-regular fa-chevron-down"></i></button>
        <ul class="drop-down-content">
            <li *ngFor="let subCategory of categories[1].subCategories">
                <a
                    [routerLink]="['/search']"
                    [queryParams]="{category: activeCategory.searchName, subCategory: subCategory.id}"
                    class="drop-down-content-links"
                    >{{ subCategory.name }}</a
                >
            </li>
        </ul>
        <button class="drop-down-sub-button">سبک بازی&#xa0;<i class="fa-regular fa-chevron-down"></i></button>
        <ul class="drop-down-content">
            <li *ngFor="let subCategory of categories[2].subCategories">
                <a
                    [routerLink]="['/search']"
                    [queryParams]="{category: activeCategory.searchName, subCategory: subCategory.id}"
                    class="drop-down-content-links"
                    >{{ subCategory.name }}</a
                >
            </li>
        </ul>
        <button class="drop-down-sub-button">دیدگاه بازیکن&#xa0;<i class="fa-regular fa-chevron-down"></i></button>
        <ul class="drop-down-content">
            <li *ngFor="let subCategory of categories[3].subCategories">
                <a
                    [routerLink]="['/search']"
                    [queryParams]="{category: activeCategory.searchName, subCategory: subCategory.id}"
                    class="drop-down-content-links"
                    >{{ subCategory.name }}</a
                >
            </li>
        </ul>
    </div>
</div>
