.nav-btn {
    font-size: 2rem;

    border: none;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border-radius: 1.4rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
        box-shadow: hsla(216, 39%, 20%, 0.25) 0 2rem 4rem, hsla(0, 0%, 0%, 0.1) 0 0.1rem 0.5rem,
            hsla(0, 0%, 100%, 0.4) 0 0 0 0.1rem inset;
    }

    &:active {
        transform: translateY(0.5rem);
    }
}
