.nav-btn {
    background-color: transparent;
    color: hsl(0deg 0% 100%);

    padding: 0.8rem 1.5rem;

    border: none;
    border-radius: 1.4rem;

    font-size: 2rem;

    transition: transform 0.3s ease, background-color 0.2s ease;

    cursor: pointer;

    &:hover {
        background-color: hsl(0deg 0% 100% / 20%);
        box-shadow: hsl(216deg 39% 20% / 25%) 0 2rem 4rem, hsl(0deg 0% 0% / 10%) 0 0.1rem 0.5rem,
            hsl(0deg 0% 100% / 40%) 0 0 0 0.1rem inset;
    }

    &:active {
        transform: translateY(0.5rem);
    }
}
