.grid-cards {
    padding-inline: max(calc((100% - 120rem) / 2), 5rem);
    padding-block: 10rem;
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
