.slideshow {
    overflow: hidden;

    aspect-ratio: 16/9;

    padding-inline: max(calc((100% - 120rem) / 2), 2rem);

    ol {
        position: relative;

        display: flex;

        gap: 100%;

        li {
            flex: 0 0 100%;

            transform: translateX(calc(var(--active-index) * 200%));

            transition: transform 0.5s ease-in-out;

            img {
                block-size: 100%;
                inline-size: 100%;

                object-fit: cover;
            }
        }

        .overlay {
            position: absolute;
            inset-block-end: 0;
            inset-inline-start: 0;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            padding: 2rem;

            .controls {
                opacity: 1;

                display: flex;
                align-items: center;
                gap: 1rem;

                transition: opacity 0.1s ease-in-out;

                button {
                    background-color: var(--surface4-dark);

                    justify-content: center;

                    block-size: 3rem;
                    inline-size: 3rem;

                    border-radius: 999rem;

                    &:hover {
                        background-color: var(--surface3-dark);
                    }
                }
            }

            .bullets {
                display: flex;
                gap: 1rem;

                i {
                    background-color: var(--surface4-dark);

                    display: block;

                    block-size: 1rem;
                    inline-size: 1rem;

                    border-radius: 999rem;

                    font-size: 0.6rem;

                    &.active {
                        background-color: var(--surface3-dark);

                        inline-size: 2em;
                    }
                }
            }
        }
    }

    &:hover {
        .overlay .controls {
            opacity: 1;
        }
    }
}
