.hero {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(45deg, hsla(242, 98%, 20%, 0.5), hsla(0, 0%, 0%, 0.5)), url("horizon.jpg");
    background-size: cover;
    color: #fff;

    .header-container {
        width: 120rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-inner {
            width: 50%;

            h1 {
                font-size: 5.2rem;
                margin-bottom: 3.2rem;
                line-height: 1;
            }

            .btn:link,
            .btn:visited {
                font-size: 2rem;
                font-weight: 700;
                background-color: hsl(28, 80%, 52%);
                color: hsl(0, 0%, 100%);
                text-decoration: none;
                display: inline-block;
                padding: 1.6rem 3.2rem;
                border-radius: .9rem;
            }

            p {
                font-size: 2rem;
                line-height: 1.6;
                margin-bottom: 4.8rem;
            }
        }
    }
}
