<section class="carousel-container">
    <button class="carousel-next" (click)="next()"><i class="fa-regular fa-angle-left"></i></button>
    <button class="carousel-prev" (click)="prev()"><i class="fa-regular fa-angle-right"></i></button>
    <div class="scroll-area" #scrollCards (mouseenter)="stopSliding()" (mouseleave)="startSliding()">
        <div *ngFor="let slide of slides" class="banner">
            <div class="bg-img">
                <img [src]="slide.imgSrc" [alt]="slide.alt" />
            </div>
            <div class="overlay" [ngClass]="slide.overlayPosition">
                <p class="description">
                    {{ slide.description }}
                </p>
                <button class="wishlist">اضافه کردن به علاقه مندی ها</button>
            </div>
        </div>
    </div>
</section>
