.carousel-container {
    position: relative;

    padding-block-start: 2rem;
    padding-inline: max(calc((100% - 120rem) / 2), 5rem);

    font-family: Brutal, Shabnam, sans-serif;
}

.scroll-area {
    overflow-x: scroll;

    display: flex;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    // -ms-overflow-style: none; /* Internet Explorer 10+ */
    // scrollbar-width: none; /* Firefox */
}

// .scroll-area::-webkit-scrollbar {
//     display: none; /* Safari and Chrome */
// }
.banner {
    // direction: ltr;
    flex: 100% 0 0;

    position: relative;
    overflow: hidden;

    border-radius: 2rem;
    scroll-snap-align: center;
}

.bg-img img {
    aspect-ratio: 16/9;
}

.carousel-prev,
.carousel-next {
    background-color: var(--text1-dark);
    color: var(--brand-dark);
    opacity: 0.5;

    position: absolute;
    top: 50%;
    z-index: 1;

    display: grid;
    place-items: center;

    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    transform: translate(0, -50%);

    font-size: 3rem;

    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-prev {
    right: calc(((100% - 120rem) / 2) + 2rem);
}

.carousel-prev:hover {
    opacity: 1;

    transform: translate(1rem, -50%);
}

.carousel-next {
    left: calc(((100% - 120rem) / 2) + 2rem);
}

.carousel-next:hover {
    opacity: 1;

    transform: translate(-1rem, -50%);
}

.overlay {
    // background-image: linear-gradient(to right, transparent, hsla(0, 0%, 10%, 0.4));

    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 0%) 60%, rgb(0 0 0 / 100%) 100%);

    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2.5rem;

    padding: 4rem;
}

.description {
    inline-size: 50%;

    font-size: 1.8rem;
}

.wishlist {
    background-color: var(--brand-dark);

    padding: 1rem 2rem;

    border-radius: 0.3rem;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 1.6rem 100%, 0% calc(100% - 1.6rem));

    font-size: 1.4rem;
}
