<div class="filter-container">
    <section class="filter-heading">
        <h1>فیلتر ها</h1>
        <button (click)="doSearch()">اعمال فیلتر ها</button>
        <button (click)="resetFilters()">پاک کردن فیلتر ها</button>
        <button (click)="showFilters()" *ngIf="showFilter">عدم نمایش فیلتر ها</button>
        <button (click)="showFilters()" *ngIf="!showFilter">نمایش فیلتر ها</button>
    </section>

    <section class="filters" *ngIf="showFilter">
        <div class="genre-filter">
            <h3 class="filter-title">ژانر ها</h3>
            <label class="label" *ngFor="let filter of filters[0].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter?.id"
                    (change)="checkboxChange($event, 'genres')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="theme-filter">
            <h3 class="filter-title">تم ها</h3>
            <label class="label" *ngFor="let filter of filters[1].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter.id"
                    (change)="checkboxChange($event, 'themes')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="game-mode-filter">
            <h3 class="filter-title">سبک بازی</h3>
            <label class="label" *ngFor="let filter of filters[2].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter.id"
                    (change)="checkboxChange($event, 'gameModes')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="player-perspective-filter">
            <h3 class="filter-title">دیدگاه بازیکن</h3>
            <label class="label" *ngFor="let filter of filters[3].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter.id"
                    (change)="checkboxChange($event, 'playerPerspectives')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>
    </section>
</div>
