<div class="filter-container">
    <section class="filter-heading">
        <h1>فیلتر ها</h1>
        <button (click)="doSearch()">اعمال فیلتر ها</button>
        <button (click)="resetFilters()">پاک کردن فیلتر ها</button>
    </section>

    <section class="filters">
        <div class="year-filter">
            <h3 class="filter-title">Years</h3>
            <label>
                از
                <input type="number" name="" placeholder="1970" />
            </label>
            <label>
                تا
                <input type="number" name="" placeholder="2022" />
            </label>
        </div>

        <div class="genre-filter">
            <h3 class="filter-title">Genre</h3>
            <label class="label" *ngFor="let filter of filters[0].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter?.id"
                    (change)="checkboxChange($event, 'genres')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="platform-filter">
            <h3 class="filter-title">Game Mode</h3>
            <label class="label" *ngFor="let filter of filters[1].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter.id"
                    (change)="checkboxChange($event, 'gameModes')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="game-mode-filter">
            <h3 class="filter-title">Perspective</h3>
            <label class="label" *ngFor="let filter of filters[2].subCategories">
                <input
                    class="checkbox"
                    type="checkbox"
                    [name]="filter.id"
                    (change)="checkboxChange($event, 'playerPerspectives')"
                />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="player-perspective-filter">
            <h3 class="filter-title">Platform</h3>
            <label class="label" *ngFor="let filter of filters[3].subCategories">
                <input class="checkbox" type="checkbox" [name]="filter.id" (change)="platformCheckboxChange($event)" />
                {{ filter.name }}
                <span class="checkmark"></span>
            </label>
        </div>
    </section>
</div>
