<div class="card">
    <div class="card-img">
        <img src="https://via.placeholder.com/100" alt="" />
    </div>
    <div class="card-data">
        <span>نام بازی</span>
        <p class="card-title">{{ cardGame?.name }}</p>
        <span>قیمت اولیه</span>
        <p class="init-price">{{ cardGame?.price }}</p>
        <span>مقدار تخفیف</span>
        <p class="card-sale">{{ cardGame?.priceOnSale === cardGame?.price ? 0 : 100 *(1 - (+cardGame?.priceOnSale)/(+cardGame?.price)) }}%</p>
        <span>قیمت نهایی</span>
        <p class="final-price">{{ cardGame?.priceOnSale }}</p>
    </div>
    <div class="control">
        <button class="remove-game" title="حذف از سبد خرید" (click)="deleteWishlistItem(cardGame?.id)">
            حذف از سبد خرید
        </button>
    </div>
</div>
