.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--surface3-dark);
    padding: 2rem;
    border-radius: 0.3rem;
    flex-direction: column;
}
.card-img {
    border-radius: 0.3rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 1.6rem 100%, 0% calc(100% - 1.6rem));

    width: 12rem;
    height: 12rem;
    display: grid;
    align-content: center;
    align-items: center;
}
.card-img img {
    width: 100%;
}
.card-data {
    display: grid;
    grid-template-columns: repeat(2, auto);

    row-gap: 0.8rem;
    column-gap: 2rem;
    font-size: 1.2rem;
}

.card-data p {
}
.card-data span {
    font-weight: bold;
    color: var(--text2-dark);
}
.card-title {
}
.init-price {
    text-decoration: line-through;
}
.card-sale {
}
.final-price {
}
.remove-game {
    background-color: transparent;
    color: var(--text1-dark);
    padding: 1rem;
    border: none;
    z-index: 1;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.1rem solid var(--text1-dark);
}

.remove-game:hover {
    background-color: var(--surface2-dark);
}
.remove-game:active {
    background-color: var(--surface4-dark);
}

@media (min-width: 35em){
    .card {
        flex-direction: row;
    }
    .card-data {
        column-gap: 4rem;
    }
}

@media (min-width: 50em){
    .card-data {
        grid-template-columns: repeat(4, auto);
        column-gap: 2rem;
        row-gap: 2rem;
    }
    .card-data p {
        padding-inline-end: 4rem;
    }
}

@media (min-width: 60em) {
    .card-data {
        /* column-gap: 4rem; */
    }
    .card-data p {
        grid-row: 2/3;
        padding-inline-end: 0;
    }
}