.sign-in-btn {
  display: block;
  background-color: transparent;
  color: hsl(0deg 0% 100%);
  opacity: 0.75;

  padding: 0.8rem 1.5rem;

  border: none;
  border-radius: 1.4rem;

  font-size: 2rem;

  transition: transform 300ms ease, opacity 200ms ease;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(0.5rem);
  }
}
