<div class="cards-container">
    <h2 class="sub-name">بهترین بازی های {{ subIndex }}</h2>

    <div class="control-btns">
        <div class="cards-right" (click)="prev()">
            <i class="fa-regular fa-angle-right"></i>
        </div>
        <div class="cards-left" (click)="next()">
            <i class="fa-regular fa-angle-left"></i>
        </div>
    </div>

    <div class="scroll-cards" #scrollCards>
        <ng-container *ngFor="let game of someGame">
            <app-card [game]="game"></app-card>
        </ng-container>
    </div>
</div>
