<!-- <app-product-card></app-product-card> -->

<div class="cards-container">
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
    <a href="#" class="game-card" dir="ltr">
        <img src="https://via.placeholder.com/300x400" alt="" />
        <div class="game-card-info">
            <h3>Game Name</h3>
            <span class="green">9.8</span>
        </div>
        <div class="overview">
            <h3>Game Name</h3>
            <div class="price-container">
                <div class="prices">
                    <del>150000</del>
                    <span>105000</span>
                </div>
                <span class="price-off">30%</span>
            </div>
        </div>
    </a>
</div>
