.cards-container {
    padding-block: 10rem;

    .control-btns {
        display: flex;
        gap: 2rem;

        .cards-left,
        .cards-right {
            background-color: var(--surface4-dark);
            color: var(--text2-dark);
            display: grid;
            place-items: center;
            inline-size: 4rem;
            block-size: 4rem;
            border-radius: 50%;
            font-size: 2rem;
        }
    }

    .scroll-cards {
        overflow-x: scroll;

        display: flex;
        gap: 2rem;

        scroll-behavior: smooth;

        padding-inline: calc((100% - 25rem) / 2);
        scroll-snap-type: x mandatory;
        padding-block: 2rem;
    }
}

@media (min-width: 30em) {
    .cards-container {
        padding-inline: max(calc((100% - 120rem) / 2), 5rem);

        .scroll-cards {
            gap: calc(20rem / 3);

            padding-inline: 0;
        }
    }
}
