.cards-container {
    position: relative;

    padding-block: 10rem;

    .cards-left,
    .cards-right {
        background-color: var(--surface4-dark);
        color: var(--text2-dark);

        position: absolute;
        right: 2rem;
        bottom: 20%;
        z-index: 1;

        display: grid;
        place-items: center;

        width: 5rem;
        height: 5rem;

        border: 0.2rem solid var(--text2-dark);
        border-radius: 50%;

        font-size: 2rem;
    }

    .cards-left {
        right: initial;
        left: 2rem;
    }

    .scroll-cards {
        overflow-x: scroll;

        display: flex;
        gap: 2rem;

        scroll-behavior: smooth;

        padding-inline: calc((100% - 25rem) / 2);
        scroll-snap-type: x mandatory;
    }
}

@media (min-width: 30em) {
    .cards-container {
        padding-inline: max(calc((100% - 120rem) / 2), 5rem);

        .cards-left,
        .cards-right {
            top: 50%;
        }

        .cards-left {
            left: max(calc((100% - 120rem) / 2 - 2.5rem), 2rem);
        }

        .cards-right {
            right: max(calc((100% - 120rem) / 2 - 2.5rem), 2rem);
        }

        .scroll-cards {
            gap: calc(20rem / 3);

            padding-inline: 0;
        }
    }
}
