.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-block: 10rem;

    .sub-name {
        margin-inline-start: var(--md-padding);
        padding: var(--sm-padding);

        border-inline-start: 0.3rem solid var(--brand-dark);

        font-size: 2rem;
    }

    .control-btns {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        padding-inline: 2rem;

        .cards-left,
        .cards-right {
            background-color: var(--surface4-dark);
            color: var(--text2-dark);

            display: grid;
            place-items: center;

            block-size: 4rem;
            inline-size: 4rem;

            border-radius: 50%;

            font-size: 2rem;
        }
    }

    .scroll-cards {
        overflow-x: scroll;

        display: flex;
        grid-column: 1/-1;
        gap: 2rem;

        scroll-behavior: smooth;

        padding-block: 2rem;

        padding-inline: calc((100% - 25rem) / 2);
        scroll-snap-type: x mandatory;
    }
}

@media (min-width: 30em) {
    .cards-container {
        padding-inline: max(calc((100% - 120rem) / 2), 5rem);

        .sub-name {
            margin: 0;
        }

        .control-btns {
            padding-inline: 0;
        }

        .scroll-cards {
            gap: calc(20rem / 3);

            padding-inline: 0;
        }
    }
}
