@font-face {
    font-family: Shabnam;
    src: url("assets/fonts/webfonts/Shabnam-FD.woff2") format("woff2");

    font-weight: 400;
}

@font-face {
    font-family: Shabnam;
    src: url("assets/fonts/webfonts/Shabnam-Bold-FD.woff2") format("woff2");

    font-weight: 700;
}

:root {
    --brand-hue: 240;
    --brand-dark: hsl(var(--brand-hue) 50% 33.33%);
    --text1-dark: hsl(var(--brand-hue) 20% 85%);
    --text2-dark: hsl(var(--brand-hue) 10% 65%);
    --surface1-dark: hsl(var(--brand-hue) 15% 10%);
    --surface2-dark: hsl(var(--brand-hue) 15% 15%);
    --surface3-dark: hsl(var(--brand-hue) 10% 20%);
    --surface4-dark: hsl(var(--brand-hue) 10% 25%);
    --danger-dark: hsl(0 80% 65%);
    --surface-shadow-dark: var(--brand-hue) 50% 3%;

    --mobile-inline-padding: 2rem;

    --mobile-header-block-padding: 1.5rem;
    --mobile-nav-block-padding: 3rem;

    --default-border-radius: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    font-family: Shabnam, sans-serif;

    font-size: 62.5%;
    color-scheme: dark;
}

body {
    popper-content {
        /* stylelint-disable selector-class-pattern */
        .ngxp__container {
            box-shadow: none;

            z-index: 1;

            padding: 0;

            border: 0;

            > .ngxp__arrow {
                &::before {
                    background-color: var(--color-body-background);
                }
            }
        }

        &.no-arrow {
            .ngxp__container > .ngxp__arrow {
                display: none;
            }
        }
        /* stylelint-enable selector-class-pattern */
    }
}

input,
button,
textarea,
select {
    border: none;

    outline: none;

    font: inherit;
}

img,
picture {
    display: block;

    max-inline-size: 100%;
}

a {
    color: inherit;

    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;

    inline-size: 100%;
}
