@font-face {
    font-family: Shabnam;
    src: url("assets/fonts/webfonts/Shabnam-FD.woff2") format("woff2");

    font-weight: 400;
}

@font-face {
    font-family: Shabnam;
    src: url("assets/fonts/webfonts/Shabnam-Bold-FD.woff2") format("woff2");

    font-weight: 700;
}

:root {
    --brand-hue: 270;
    --brand-dark: hsl(var(--brand-hue) 50% 33.33%);
    --text1-dark: hsl(var(--brand-hue) 20% 85%);
    --text2-dark: hsl(var(--brand-hue) 10% 65%);
    --surface1-dark: hsl(var(--brand-hue) 15% 10%);
    --surface2-dark: hsl(var(--brand-hue) 15% 15%);
    --surface3-dark: hsl(var(--brand-hue) 10% 20%);
    --surface4-dark: hsl(var(--brand-hue) 10% 25%);
    --surface-shadow-dark: var(--brand-hue) 50% 3%;

    --mobile-inline-padding: 2rem;

    --mobile-header-block-padding: 1.5rem;
    --mobile-nav-block-padding: 3rem;

    --default-border-radius: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Shabnam, sans-serif;
    color-scheme: dark;

    font-size: 62.5%;
}

input,
button,
textarea,
select {
    border: none;

    outline: none;

    font: inherit;
}

img,
picture {
    display: block;

    max-inline-size: 100%;
}

a {
    color: inherit;

    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;

    inline-size: 100%;
}
