/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "mikhak";
    src: url("assets/fonts/webfonts/Mikhak-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "mikhak";
    src: url("assets/fonts/webfonts/Mikhak-Bold.woff2") format("woff2");

    font-weight: 700;
}
body {
    font-family: "mikhak", sans-serif;
}
